<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <title>Aquaculture System</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="page">
  <nav>
    <strong>Aquaculture System</strong>
    {% if request.session.username %}
    <span class="options">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'fish_list' %}">Fish Library</a>
      <a href="{% url 'request_log' %}">Orders Log</a>
      <a href="{% url 'profile' %}">{{ request.session.username }}</a>
    </span>
    </strong>
    {% endif %}
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <section class="footer-card">
    <h3>Contact</h3>
    <p>Email: loremipsum@lorumipsum.com</p>
    <p class="text-muted">loremipsum · loremipsum</p>
  </section>
</body>
<div class="bubble-bg"></div>
</html>